@model AppMagazin.Models.Produs

@{
    ViewData["Title"] = "Delete";
}

<div class="container py-4">
    <h1 class="text-center text-danger mb-4">Delete Product</h1>

    <div class="card shadow-sm border-danger">
        <div class="card-body">
            <h4 class="text-center">Are you sure you want to delete this product?</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 fw-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Nume)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nume)
                </dd>
                <dt class="col-sm-3 fw-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Descriere)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descriere)
                </dd>
                <dt class="col-sm-3 fw-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Pret)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Pret)
                </dd>
                <dt class="col-sm-3 fw-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Stoc)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Stoc)
                </dd>
                <dt class="col-sm-3 fw-bold text-secondary">
                    @Html.DisplayNameFor(model => model.ImagineURL)
                </dt>
                <dd class="col-sm-9 text-truncate" style="max-width: 400px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    @Html.DisplayFor(model => model.ImagineURL)
                </dd>
            </dl>

            
        </div>
	</div>
    <form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<div class="text-center mt-4">
			<input type="submit" value="Delete" class="btn btn-danger me-2" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
		</div>
	</form>
</div>